.newsline {
  width: 100%;
  // background: #973481;
  color: #973481;
  padding: 10px 0;
  font-size: 15px;
  font-weight: 500;
  border-bottom: 1px solid #ededed;

  marquee {
    width: 100%;
  }
  a{
     color: #973481;
  }
}