.installBtn {

    position: fixed;

    bottom: 20px;

    left: 50%;

    transform: translateX(-50%);

    padding: 14px 28px;

    border: none;

    border-radius: 40px;

    background: linear-gradient(135deg, #472c4c, #601f68);

    color: #fff;

    font-weight: 600;

    font-size: 16px;

    box-shadow: 0 10px 25px rgba(0, 0, 0, .25);

    z-index: 9999;

    transition: .3s;

}

.installBtn:hover {

    transform: translateX(-50%) scale(1.05);

}